<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.hannit.fsch.rcp.klr"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.hannit.fsch.rcp.klr/css/default.css">
         </property>
         <property
               name="appName"
               value="de.hannit.fsch.rcp.klr">
         </property>
		<property
				name="lifeCycleURI"
				value="bundleclass://de.hannit.fsch.rcp.klr/de.hannit.fsch.common.LifeCycleManager">
		</property>         
      </product>
   </extension>

</plugin>
